* {  box-sizing: border-box; }

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.palaroid_image {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#palaroid_image1 {
  background-image: url("images/5.jpg");
  min-height: 100%;
}

#palaroid_image2 {
  background-image: url("images/garfild_horizontal.jpg");
  min-height: 30vw;
}

#palaroid_image3 {
  background-image: url("images/big_3.jpg");
  min-height: 30vw;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    font-weight: bold;
    font-size: 1.8vw;
    color: #000000;
    background-color: #ffe6cc;
    display: inline-block;
    padding: 0.5vw 0.5vw;
}

.large_margin_top { margin-top: 4vw; }

.small_margin_top { margin-top: 1vw; }

.centred { text-align: center; }

#image_container { width: 100%; }

.mobile_hidden { display: none; }

.photo {
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
}

.characteristic {
    letter-spacing: 1.5vw;
    font-size: 3vw;
}

.bar_outside {
  height: 40px;
  background-color: lightgrey;
}

.bar_inside {
  height: 100%;
  background-color: grey;
  text-align: center;
}

#problems_bar { width: 90%; }
#lasagn_bar { width: 85%; }
#sleep_bar { width: 75%; }

.text_behind {
  color: #ffffff;
  font-size: large;
}

#horizontal_line {
    width: 100%;
    background-color: grey;
    height: 5vw;
    min-height: 60px;
}

.temp_hidden { display: none; }

#button_load {
    width: 20%;
    background-color: lightgrey;
    font-size: x-large;
    color: black;
    text-align: center;
    margin: auto;
    margin-top: 3vw;
}
#button_load:hover { background-color: #b3b3b3; }

#photo1 { background-image: url("images/1_1.jpg");}
#photo2 { background-image: url("images/1_2.jpg");}
#photo3 { background-image: url("images/1_3.jpg");}
#photo4 { background-image: url("images/1_4.jpg");}
#photo5 { background-image: url("images/1_5.jpg");}
#photo6 { background-image: url("images/1_6.jpg");}
#photo7 { background-image: url("images/1_7.jpg");}
#photo8 { background-image: url("images/1_8.jpg");}
#photo9 { background-image: url("images/1_9.jpg");}
#photo10 { background-image: url("images/1_10.jpg");}
#photo11 { background-image: url("images/1_11.jpg");}
#photo12 { background-image: url("images/1_12.jpg");}
#photo13 { background-image: url("images/1_13.jpg");}

.gallery_photo {
    float: left;
    width: 100%;
    border: 2px solid grey;
    height: 0;
    padding-bottom: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.gallery_photo:hover { opacity: 0.7; }

#map {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-color: grey;
    border-radius: 0.5vw;
}

.adress { font-size: x-large; }

.input {
  width: 45%;
  margin-left: 3%;
  border-radius: 0px;
  vertical-align: middle;
  display: table-cell;
  height: 40px;
}

.input_long {
    width: 93%;
    vertical-align: middle;
    display: table-cell;
    height: 40px;
    margin-left: 3%;
    border-radius: 0px;
}

a { text-decoration: none}

#submit {
    float: right;
    background-color: black;
    width: 20%;
    height: 45px;
    color: white;
    margin-right: 4%;
    text-align: center;
    border: none;
}
#submit:hover {
    background-color: lightgrey;
    color: black;
}

footer {
    width: 100%;
    background-color: grey;
    height: 10vw;
    min-height: 150px;
}

footer:hover {
    background-color: black;
    color: white;
}

footer:hover #to_the_top_button { color: black; }

#to_the_top_button:hover { background-color: #bfbfbf; }

#to_the_top_button {
    background-color: #f2f2f2;
    width: 10%;
    display:block;
    margin: auto;
    height: 2vw;
    min-height: 30px;
    min-width: 90px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    border: none;
}

#footer_div { height: 100%; }

#footer_text {
    margin: auto;
    height: 0;
    padding-bottom: 2%;
    color: white;
    text-align: center;
}

article { text-align: justify; }

.parent { overflow: hidden; }

i {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.intro_paragraph {
    width: 100%;
    margin: auto;
}

#connection_icon_button {
    text-align: center;
    margin: auto;
    height: 2vw;
    min-height: 20px;
}

.adress_icons {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

footer i { color: white; }

nav {
    position: fixed;
    width: 100%;
    /*background-color: transparent;*/
    /*border-bottom: 5px groove grey;*/

}
.navigation {
    display: block;
    border: none;
    float: left;
    font-size: large;
    padding: 8px 16px;
    color: black;
}
.navigation:hover {
    background-color: #d9d9d9;
}

.navigation_scroll {
    border-bottom: 5px groove grey;
    background-color: white;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .intro_paragraph {
        width: 60%;
        margin: auto;
    }

    #image_container {
      width: 50%;
      float: left;
      background-size: cover;
    }

    .mobile_hidden { display: block; }

    .characteristic {
        letter-spacing: 0.4vw;
        font-size: 1.2vw;
    }

    .gallery_photo {
        float: left;
        width: 23%;
        border: 2px solid grey;
        height: 0;
        padding-bottom: 20%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 1%;
    }

    #map {
        display: inline-block;
        float: left;
        width: 30%;
        height: 0;
        padding-bottom: 40%;
    }
}
